<div class="container">
    <div class="row col s12">
        <h1 class="center-align">Descubra seu UserAgent e seu IP</h>
    </div>
    <div class="row col s12">
        <h2 class="center-align">User Agent:</h2>
    </div>
    <div class="row col s12">
        <h5 class="center-align">{{userAgent}}</h5>
    </div>
    <div class="row col s12">
        <h2 class="center-align">IP:</h2>
    </div>
    <div class="row col s12">
        <h5 class="center-align">{{userIp}}</h5>
    </div>
</div>