<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/materialize.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/images/icon.gif" type="image/gif" sizes="16x16" >
  </head>
  <body>
    {{{body}}}
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/materialize.min.js"></script>
  </body>
</html>
